{% extends 'base_alt.html' %}
{% load static %}
{% block contenido %}
    <div class="content-header row">
    </div>
    <div class="content-body"><section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                <div class="card-header no-border pb-0">
                    <div class="card-title text-xs-center">
                        <img src="{% static 'app-assets/images/logo/stack-logo-dark.png' %}" alt="branding logo">
                    </div>
                </div>
                <div class="card-body collapse in">
                    <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 mx-2 my-1"><span>Using Email</span></p>
                    <div class="card-block">
                        <form class="form-horizontal" role="form" method="post" novalidate>
                            {% include 'partials/form_input_addon.html' with field=usuario.email addon='ft-mail' %}
                            {% include 'partials/form_input_addon.html' with field=usuario.password1 addon='fa fa-key' %}
                            {% include 'partials/form_input_addon.html' with field=usuario.password2 addon='fa fa-key' %}
                            <fieldset class="form-group row">
                                <div class="col-md-6 col-xs-12 text-xs-center text-sm-left">
                                    <fieldset>
                                        <input type="checkbox" id="remember-me" class="chk-remember">
                                        <label for="remember-me"> Remember Me</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-xs-12 float-sm-left text-xs-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                            </fieldset>
                            <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-user"></i> Register</button>
                        </form>
                    </div>
                    <div class="card-block">
                        <a href="login-with-bg-image.html" class="btn btn-outline-danger btn-block"><i class="ft-unlock"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}