{% load static %}
<!-- Horizontal navigation-->
<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border">
    <!-- Horizontal menu content-->
    <div data-menu="menu-container" class="navbar-container main-menu-content">
      <!-- include ../../../includes/mixins-->
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
        <li data-menu="dropdown" class="dropdown nav-item"><a href="index.html" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-home"></i><span>Dashboard</span></a>
          <ul class="dropdown-menu">
            <li data-menu="" class="active"><a href="dashboard-ecommerce.html" data-toggle="dropdown" class="dropdown-item">eCommerce</a>
            </li>
            <li data-menu=""><a href="dashboard-analytics.html" data-toggle="dropdown" class="dropdown-item">Analytics</a>
            </li>
            <li data-menu=""><a href="dashboard-fitness.html" data-toggle="dropdown" class="dropdown-item">Fitness</a>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-monitor"></i><span>Templates</span></a>
          <ul class="dropdown-menu">
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Vertical</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="../vertical-modern-menu-template" data-toggle="dropdown" class="dropdown-item">Modern Menu</a>
                </li>
                <li data-menu=""><a href="../vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Semi Light</a>
                </li>
                <li data-menu=""><a href="../vertical-menu-template-semi-dark" data-toggle="dropdown" class="dropdown-item">Semi Dark</a>
                </li>
                <li data-menu=""><a href="../vertical-menu-template-nav-dark" data-toggle="dropdown" class="dropdown-item">Nav Dark</a>
                </li>
                <li data-menu=""><a href="../vertical-menu-template-light" data-toggle="dropdown" class="dropdown-item">Light</a>
                </li>
                <li data-menu=""><a href="../vertical-overlay-menu-template" data-toggle="dropdown" class="dropdown-item">Overlay Menu</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Horizontal</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="../horizontal-menu-template" data-toggle="dropdown" class="dropdown-item">Classic</a>
                </li>
                <li data-menu=""><a href="../horizontal-menu-template-nav" data-toggle="dropdown" class="dropdown-item">Nav Dark</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-layout"></i><span>Layouts</span></a>
          <ul class="dropdown-menu">
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Page Layouts<i class="icon-stack-2"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="horizontal-layout-1-column.html" data-toggle="dropdown" class="dropdown-item">1 column</a>
                </li>
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Content Det. Sidebar</a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="layout-content-detached-left-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached left sidebar</a>
                    </li>
                    <li data-menu=""><a href="layout-content-detached-left-sticky-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached sticky left sidebar</a>
                    </li>
                    <li data-menu=""><a href="layout-content-detached-right-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached right sidebar</a>
                    </li>
                    <li data-menu=""><a href="layout-content-detached-right-sticky-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached sticky right sidebar</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-divider"></li>
                <li data-menu=""><a href="layout-fixed-navigation.html" data-toggle="dropdown" class="dropdown-item">Fixed navigation</a>
                </li>
                <li class="dropdown-divider"></li>
                <li data-menu=""><a href="layout-fixed.html" data-toggle="dropdown" class="dropdown-item">Fixed layout</a>
                </li>
                <li data-menu=""><a href="layout-boxed.html" data-toggle="dropdown" class="dropdown-item">Boxed layout</a>
                </li>
                <li data-menu=""><a href="layout-static.html" data-toggle="dropdown" class="dropdown-item">Static layout</a>
                </li>
                <li class="dropdown-divider"></li>
                <li data-menu=""><a href="layout-light.html" data-toggle="dropdown" class="dropdown-item">Light layout</a>
                </li>
                <li data-menu=""><a href="layout-dark.html" data-toggle="dropdown" class="dropdown-item">Dark layout</a>
                </li>
                <li data-menu=""><a href="layout-semi-dark.html" data-toggle="dropdown" class="dropdown-item">Semi dark layout</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Navbars<i class="icon-navicon2"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="navbar-light.html" data-toggle="dropdown" class="dropdown-item">Navbar Light</a>
                </li>
                <li data-menu=""><a href="navbar-dark.html" data-toggle="dropdown" class="dropdown-item">Navbar Dark</a>
                </li>
                <li data-menu=""><a href="navbar-semi-dark.html" data-toggle="dropdown" class="dropdown-item">Navbar Semi Dark</a>
                </li>
                <li data-menu=""><a href="navbar-brand-center.html" data-toggle="dropdown" class="dropdown-item">Brand Center</a>
                </li>
                <li data-menu=""><a href="navbar-fixed-top.html" data-toggle="dropdown" class="dropdown-item">Fixed Top</a>
                </li>
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Hide on Scroll</a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="navbar-hide-on-scroll-top.html" data-toggle="dropdown" class="dropdown-item">Hide on Scroll Top</a>
                    </li>
                    <li data-menu=""><a href="navbar-hide-on-scroll-bottom.html" data-toggle="dropdown" class="dropdown-item">Hide on Scroll Bottom</a>
                    </li>
                  </ul>
                </li>
                <li data-menu=""><a href="navbar-components.html" data-toggle="dropdown" class="dropdown-item">Navbar Components</a>
                </li>
                <li data-menu=""><a href="navbar-styling.html" data-toggle="dropdown" class="dropdown-item">Navbar Styling</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Vertical Nav</a>
              <ul class="dropdown-menu">
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Navigation Types</a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="../vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Semi Light</a>
                    </li>
                    <li data-menu=""><a href="../vertical-menu-template-semi-dark" data-toggle="dropdown" class="dropdown-item">Semi Dark</a>
                    </li>
                    <li data-menu=""><a href="../vertical-menu-template-nav-dark" data-toggle="dropdown" class="dropdown-item">Nav Dark</a>
                    </li>
                    <li data-menu=""><a href="../vertical-menu-template-light" data-toggle="dropdown" class="dropdown-item">Light</a>
                    </li>
                    <li data-menu=""><a href="../vertical-overlay-menu-template" data-toggle="dropdown" class="dropdown-item">Overlay Menu</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Horizontal Nav</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="../horizontal-menu-template" data-toggle="dropdown" class="dropdown-item">Left Icon Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-fixed.html" data-toggle="dropdown" class="dropdown-item">Fixed Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-flipped.html" data-toggle="dropdown" class="dropdown-item">Flipped Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-submenu-click.html" data-toggle="dropdown" class="dropdown-item">Submenu on Click</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-submenu-hover.html" data-toggle="dropdown" class="dropdown-item">Submenu on Hover</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-light.html" data-toggle="dropdown" class="dropdown-item">Light Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-dark.html" data-toggle="dropdown" class="dropdown-item">Dark Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-right-side-icons.html" data-toggle="dropdown" class="dropdown-item">Right side icons</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-no-dropdown.html" data-toggle="dropdown" class="dropdown-item">No Dropdown Arrow</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-disabled.html" data-toggle="dropdown" class="dropdown-item">Disabled Navigation</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-tags-pills.html" data-toggle="dropdown" class="dropdown-item">Tags &amp; Pills</a>
                </li>
                <li data-menu=""><a href="horizontal-nav-styling.html" data-toggle="dropdown" class="dropdown-item">Navigation Styling</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Page Headers<i class="icon-header"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="headers-breadcrumbs-basic.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs basic</a>
                </li>
                <li data-menu=""><a href="headers-breadcrumbs-top.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs top</a>
                </li>
                <li data-menu=""><a href="headers-breadcrumbs-bottom.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs bottom</a>
                </li>
                <li data-menu=""><a href="headers-breadcrumbs-with-button.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs with button</a>
                </li>
                <li data-menu=""><a href="headers-breadcrumbs-with-round-button.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs with round button 2</a>
                </li>
                <li data-menu=""><a href="headers-breadcrumbs-with-stats.html" data-toggle="dropdown" class="dropdown-item">Breadcrumbs with stats</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Footers<i class="icon-vertical_align_bottom"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="footer-light.html" data-toggle="dropdown" class="dropdown-item">Footer Light</a>
                </li>
                <li data-menu=""><a href="footer-dark.html" data-toggle="dropdown" class="dropdown-item">Footer Dark</a>
                </li>
                <li data-menu=""><a href="footer-transparent.html" data-toggle="dropdown" class="dropdown-item">Footer Transparent</a>
                </li>
                <li data-menu=""><a href="footer-fixed.html" data-toggle="dropdown" class="dropdown-item">Footer Fixed</a>
                </li>
                <li data-menu=""><a href="footer-components.html" data-toggle="dropdown" class="dropdown-item">Footer Components</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-zap"></i><span>Starter kit</span></a>
          <ul class="dropdown-menu">
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-1-column.html" data-toggle="dropdown" class="dropdown-item">1 column</a>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Content Det. Sidebar</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-content-detached-left-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached left sidebar</a>
                </li>
                <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-content-detached-left-sticky-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached sticky left sidebar</a>
                </li>
                <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-content-detached-right-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached right sidebar</a>
                </li>
                <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-content-detached-right-sticky-sidebar.html" data-toggle="dropdown" class="dropdown-item">Detached sticky right sidebar</a>
                </li>
              </ul>
            </li>
            <li class="dropdown-divider"></li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-fixed-navigation.html" data-toggle="dropdown" class="dropdown-item">Fixed navigation</a>
            </li>
            <li class="dropdown-divider"></li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-fixed.html" data-toggle="dropdown" class="dropdown-item">Fixed layout</a>
            </li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-boxed.html" data-toggle="dropdown" class="dropdown-item">Boxed layout</a>
            </li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-static.html" data-toggle="dropdown" class="dropdown-item">Static layout</a>
            </li>
            <li class="dropdown-divider"></li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-light.html" data-toggle="dropdown" class="dropdown-item">Light layout</a>
            </li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-dark.html" data-toggle="dropdown" class="dropdown-item">Dark layout</a>
            </li>
            <li data-menu=""><a href="../../../starter-kit/ltr/horizontal-menu-template-nav/layout-semi-dark.html" data-toggle="dropdown" class="dropdown-item">Semi dark layout</a>
            </li>
          </ul>
        </li>
        <li data-menu="megamenu" class="dropdown mega-dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-box"></i><span>Apps</span></a>
          <ul class="mega-dropdown-menu dropdown-menu row">
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="email-application.html" class="dropdown-item"><i class="ft-mail"></i>Email Application</a>
                    </li>
                    <li><a href="chat-application.html" class="dropdown-item"><i class="ft-message-square"></i>Chat Application</a>
                    </li>
                    <li><a href="project-summary.html" class="dropdown-item"><i class="ft-airplay"></i>Project Summary</a>
                    </li>
                    <li><a href="invoice-template.html" class="dropdown-item"><i class="ft-printer"></i>Invoice Template</a>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="ft-share"></i>Timelines</a>
                      <ul class="mega-menu-sub">
                        <li><a href="timeline-center.html" class="dropdown-item"><i class="undefined"></i>Timelines Center</a>
                        </li>
                        <li><a href="timeline-horizontal.html" class="dropdown-item"><i class="undefined"></i>Timelines Horizontal</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="ft-user"></i>Users</a>
                      <ul class="mega-menu-sub">
                        <li><a href="user-profile.html" class="dropdown-item"><i class="ft-user"></i>Users Profile</a>
                        </li>
                        <li><a href="user-cards.html" class="dropdown-item"><i class="ft-user-plus"></i>Users Cards</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="ft-plus-square"></i>Calender</a>
                      <ul class="mega-menu-sub">
                        <li><a href="full-calender-basic.html" class="dropdown-item"><i class="undefined"></i>Full Calender Basic</a>
                        </li>
                        <li><a href="full-calender-events.html" class="dropdown-item"><i class="undefined"></i>Full Calender Events</a>
                        </li>
                        <li><a href="full-calender-advance.html" class="dropdown-item"><i class="undefined"></i>Full Calender Advance</a>
                        </li>
                        <li><a href="full-calender-extra.html" class="dropdown-item"><i class="undefined"></i>Full Calender Extra</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="ft-image"></i>Gallery</a>
                      <ul class="mega-menu-sub">
                        <li><a href="gallery-grid.html" class="dropdown-item"><i class="undefined"></i>Gallery Grid</a>
                        </li>
                        <li><a href="gallery-grid-with-desc.html" class="dropdown-item"><i class="undefined"></i>Gallery Grid with Desc</a>
                        </li>
                        <li><a href="gallery-masonry.html" class="dropdown-item"><i class="undefined"></i>Masonry Gallery</a>
                        </li>
                        <li><a href="gallery-masonry-with-desc.html" class="dropdown-item"><i class="undefined"></i>Masonry Gallery with Desc</a>
                        </li>
                        <li><a href="gallery-hover-effects.html" class="dropdown-item"><i class="undefined"></i>Hover Effects</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="ft-search"></i>Search</a>
                      <ul class="mega-menu-sub">
                        <li><a href="search-page.html" class="dropdown-item"><i class="undefined"></i>Search Page</a>
                        </li>
                        <li><a href="search-website.html" class="dropdown-item"><i class="undefined"></i>Search Website</a>
                        </li>
                        <li><a href="search-images.html" class="dropdown-item"><i class="undefined"></i>Search Images</a>
                        </li>
                        <li><a href="search-videos.html" class="dropdown-item"><i class="undefined"></i>Search Videos</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="ft-unlock"></i>Authentication</a>
                      <ul class="mega-menu-sub">
                        <li><a href="login-simple.html" class="dropdown-item"><i class="undefined"></i>Login Simple</a>
                        </li>
                        <li><a href="login-with-bg.html" class="dropdown-item"><i class="undefined"></i>Login with Bg</a>
                        </li>
                        <li><a href="login-with-bg-image.html" class="dropdown-item"><i class="undefined"></i>Login with Bg Image</a>
                        </li>
                        <li><a href="register-simple.html" class="dropdown-item"><i class="undefined"></i>Register Simple</a>
                        </li>
                        <li><a href="register-with-bg.html" class="dropdown-item"><i class="undefined"></i>Register with Bg</a>
                        </li>
                        <li><a href="register-with-bg-image.html" class="dropdown-item"><i class="undefined"></i>Register with Bg Image</a>
                        </li>
                        <li><a href="unlock-user.html" class="dropdown-item"><i class="undefined"></i>Unlock User</a>
                        </li>
                        <li><a href="recover-password.html" class="dropdown-item"><i class="undefined"></i>Recover Password</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="ft-alert-triangle"></i>Error</a>
                      <ul class="mega-menu-sub">
                        <li><a href="error-400.html" class="dropdown-item"><i class="undefined"></i>Error 400</a>
                        </li>
                        <li><a href="error-401.html" class="dropdown-item"><i class="undefined"></i>Error 401</a>
                        </li>
                        <li><a href="error-403.html" class="dropdown-item"><i class="undefined"></i>Error 403</a>
                        </li>
                        <li><a href="error-404.html" class="dropdown-item"><i class="undefined"></i>Error 404</a>
                        </li>
                        <li><a href="error-500.html" class="dropdown-item"><i class="undefined"></i>Error 500</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="ft-watch"></i>Coming Soon</a>
                      <ul class="mega-menu-sub">
                        <li><a href="coming-soon-flat.html" class="dropdown-item"><i></i>Flat</a>
                        </li>
                        <li><a href="coming-soon-bg-image.html" class="dropdown-item"><i></i>Bg image</a>
                        </li>
                        <li><a href="coming-soon-bg-video.html" class="dropdown-item"><i></i>Bg video</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="under-maintenance.html" class="dropdown-item"><i class="ft-cloud-off"></i>Maintenance</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-droplet"></i><span>UI</span></a>
          <ul class="dropdown-menu">
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Content</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="content-grid.html" data-toggle="dropdown" class="dropdown-item">Grid</a>
                </li>
                <li data-menu=""><a href="content-typography.html" data-toggle="dropdown" class="dropdown-item">Typography</a>
                </li>
                <li data-menu=""><a href="content-text-utilities.html" data-toggle="dropdown" class="dropdown-item">Text utilities</a>
                </li>
                <li data-menu=""><a href="content-syntax-highlighter.html" data-toggle="dropdown" class="dropdown-item">Syntax highlighter</a>
                </li>
                <li data-menu=""><a href="content-helper-classes.html" data-toggle="dropdown" class="dropdown-item">Helper classes</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Cards</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="card-bootstrap.html" data-toggle="dropdown" class="dropdown-item">Bootstrap</a>
                </li>
                <li data-menu=""><a href="card-headings.html" data-toggle="dropdown" class="dropdown-item">Headings</a>
                </li>
                <li data-menu=""><a href="card-options.html" data-toggle="dropdown" class="dropdown-item">Options</a>
                </li>
                <li data-menu=""><a href="card-actions.html" data-toggle="dropdown" class="dropdown-item">Action</a>
                </li>
                <li data-menu=""><a href="card-draggable.html" data-toggle="dropdown" class="dropdown-item">Draggable</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Advance Cards</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="card-statistics.html" data-toggle="dropdown" class="dropdown-item">Statistics</a>
                </li>
                <li data-menu=""><a href="card-weather.html" data-toggle="dropdown" class="dropdown-item">Weather</a>
                </li>
                <li data-menu=""><a href="card-charts.html" data-toggle="dropdown" class="dropdown-item">Charts</a>
                </li>
                <li data-menu=""><a href="card-maps.html" data-toggle="dropdown" class="dropdown-item">Maps</a>
                </li>
                <li data-menu=""><a href="card-social.html" data-toggle="dropdown" class="dropdown-item">Social</a>
                </li>
                <li data-menu=""><a href="card-ecommerce.html" data-toggle="dropdown" class="dropdown-item">E-Commerce</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Color Palette</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="color-palette-primary.html" data-toggle="dropdown" class="dropdown-item">Primary palette</a>
                </li>
                <li data-menu=""><a href="color-palette-danger.html" data-toggle="dropdown" class="dropdown-item">Danger palette</a>
                </li>
                <li data-menu=""><a href="color-palette-success.html" data-toggle="dropdown" class="dropdown-item">Success palette</a>
                </li>
                <li data-menu=""><a href="color-palette-warning.html" data-toggle="dropdown" class="dropdown-item">Warning palette</a>
                </li>
                <li data-menu=""><a href="color-palette-info.html" data-toggle="dropdown" class="dropdown-item">Info palette</a>
                </li>
                <li class="dropdown-divider"></li>
                <li data-menu=""><a href="color-palette-red.html" data-toggle="dropdown" class="dropdown-item">Red palette</a>
                </li>
                <li data-menu=""><a href="color-palette-pink.html" data-toggle="dropdown" class="dropdown-item">Pink palette</a>
                </li>
                <li data-menu=""><a href="color-palette-purple.html" data-toggle="dropdown" class="dropdown-item">Purple palette</a>
                </li>
                <li data-menu=""><a href="color-palette-blue.html" data-toggle="dropdown" class="dropdown-item">Blue palette</a>
                </li>
                <li data-menu=""><a href="color-palette-cyan.html" data-toggle="dropdown" class="dropdown-item">Cyan palette</a>
                </li>
                <li data-menu=""><a href="color-palette-teal.html" data-toggle="dropdown" class="dropdown-item">Teal palette</a>
                </li>
                <li data-menu=""><a href="color-palette-yellow.html" data-toggle="dropdown" class="dropdown-item">Yellow palette</a>
                </li>
                <li data-menu=""><a href="color-palette-amber.html" data-toggle="dropdown" class="dropdown-item">Amber palette</a>
                </li>
                <li data-menu=""><a href="color-palette-blue-grey.html" data-toggle="dropdown" class="dropdown-item">Blue Grey palette</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Icons</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="icons-feather.html" data-toggle="dropdown" class="dropdown-item">Feather</a>
                </li>
                <li data-menu=""><a href="icons-font-awesome.html" data-toggle="dropdown" class="dropdown-item">Font Awesome</a>
                </li>
                <li data-menu=""><a href="icons-simple-line-icons.html" data-toggle="dropdown" class="dropdown-item">Simple Line Icons</a>
                </li>
                <li data-menu=""><a href="icons-meteocons.html" data-toggle="dropdown" class="dropdown-item">Meteocons</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-briefcase"></i><span>Components</span></a>
          <ul class="dropdown-menu">
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Bootstrap Components</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="component-alerts.html" data-toggle="dropdown" class="dropdown-item">Alerts</a>
                </li>
                <li data-menu=""><a href="component-callout.html" data-toggle="dropdown" class="dropdown-item">Callout</a>
                </li>
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Buttons</a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="component-buttons-basic.html" data-toggle="dropdown" class="dropdown-item">Basic Buttons</a>
                    </li>
                    <li data-menu=""><a href="component-buttons-extended.html" data-toggle="dropdown" class="dropdown-item">Extended Buttons</a>
                    </li>
                  </ul>
                </li>
                <li data-menu=""><a href="component-carousel.html" data-toggle="dropdown" class="dropdown-item">Carousel</a>
                </li>
                <li data-menu=""><a href="component-collapse.html" data-toggle="dropdown" class="dropdown-item">Collapse</a>
                </li>
                <li data-menu=""><a href="component-dropdowns.html" data-toggle="dropdown" class="dropdown-item">Dropdowns</a>
                </li>
                <li data-menu=""><a href="component-list-group.html" data-toggle="dropdown" class="dropdown-item">List Group</a>
                </li>
                <li data-menu=""><a href="component-modals.html" data-toggle="dropdown" class="dropdown-item">Modals</a>
                </li>
                <li data-menu=""><a href="component-pagination.html" data-toggle="dropdown" class="dropdown-item">Pagination</a>
                </li>
                <li data-menu=""><a href="component-navs-component.html" data-toggle="dropdown" class="dropdown-item">Navs Component</a>
                </li>
                <li data-menu=""><a href="component-tabs-component.html" data-toggle="dropdown" class="dropdown-item">Tabs Component</a>
                </li>
                <li data-menu=""><a href="component-pills-component.html" data-toggle="dropdown" class="dropdown-item">Pills Component</a>
                </li>
                <li data-menu=""><a href="component-tooltips.html" data-toggle="dropdown" class="dropdown-item">Tooltips</a>
                </li>
                <li data-menu=""><a href="component-popovers.html" data-toggle="dropdown" class="dropdown-item">Popovers</a>
                </li>
                <li data-menu=""><a href="component-tags.html" data-toggle="dropdown" class="dropdown-item">Tags</a>
                </li>
                <li data-menu=""><a href="component-pill-tags.html" data-toggle="dropdown" class="dropdown-item">Pill Tags</a>
                </li>
                <li data-menu=""><a href="component-progress.html" data-toggle="dropdown" class="dropdown-item">Progress</a>
                </li>
                <li data-menu=""><a href="component-media-objects.html" data-toggle="dropdown" class="dropdown-item">Media Objects</a>
                </li>
                <li data-menu=""><a href="component-scrollable.html" data-toggle="dropdown" class="dropdown-item">Scrollable</a>
                </li>
                <li data-menu=""><a href="component-spinners.html" data-toggle="dropdown" class="dropdown-item">Spinners</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Extra Components</a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="ex-component-sweet-alerts.html" data-toggle="dropdown" class="dropdown-item">Sweet Alerts</a>
                </li>
                <li data-menu=""><a href="ex-component-ratings.html" data-toggle="dropdown" class="dropdown-item">Ratings</a>
                </li>
                <li data-menu=""><a href="ex-component-toastr.html" data-toggle="dropdown" class="dropdown-item">Toastr</a>
                </li>
                <li data-menu=""><a href="ex-component-noui-slider.html" data-toggle="dropdown" class="dropdown-item">NoUI Slider</a>
                </li>
                <li data-menu=""><a href="ex-component-knob.html" data-toggle="dropdown" class="dropdown-item">Knob</a>
                </li>
                <li data-menu=""><a href="ex-component-block-ui.html" data-toggle="dropdown" class="dropdown-item">Block UI</a>
                </li>
                <li data-menu=""><a href="ex-component-date-time-picker.html" data-toggle="dropdown" class="dropdown-item">DateTime Picker</a>
                </li>
                <li data-menu=""><a href="ex-component-file-uploader-dropzone.html" data-toggle="dropdown" class="dropdown-item">File Uploader</a>
                </li>
                <li data-menu=""><a href="ex-component-image-cropper.html" data-toggle="dropdown" class="dropdown-item">Image Cropper</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Forms</a>
              <ul class="dropdown-menu">
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Form Elements<i class="icon-wpforms"></i></a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="form-inputs.html" data-toggle="dropdown" class="dropdown-item">Form Inputs</a>
                    </li>
                    <li data-menu=""><a href="form-input-groups.html" data-toggle="dropdown" class="dropdown-item">Input Groups</a>
                    </li>
                    <li data-menu=""><a href="form-input-grid.html" data-toggle="dropdown" class="dropdown-item">Input Grid</a>
                    </li>
                    <li data-menu=""><a href="form-extended-inputs.html" data-toggle="dropdown" class="dropdown-item">Extended Inputs</a>
                    </li>
                    <li data-menu=""><a href="form-checkboxes-radios.html" data-toggle="dropdown" class="dropdown-item">Checkboxes &amp; Radios</a>
                    </li>
                    <li data-menu=""><a href="form-switch.html" data-toggle="dropdown" class="dropdown-item">Switch</a>
                    </li>
                    <li data-menu=""><a href="form-select2.html" data-toggle="dropdown" class="dropdown-item">Select2</a>
                    </li>
                    <li data-menu=""><a href="form-tags-input.html" data-toggle="dropdown" class="dropdown-item">Tags Input</a>
                    </li>
                    <li data-menu=""><a href="form-validation.html" data-toggle="dropdown" class="dropdown-item">Validation</a>
                    </li>
                  </ul>
                </li>
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Form Layouts<i class="icon-wpforms"></i></a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="form-layout-basic.html" data-toggle="dropdown" class="dropdown-item">Basic Forms</a>
                    </li>
                    <li data-menu=""><a href="form-layout-horizontal.html" data-toggle="dropdown" class="dropdown-item">Horizontal Forms</a>
                    </li>
                    <li data-menu=""><a href="form-layout-hidden-labels.html" data-toggle="dropdown" class="dropdown-item">Hidden Labels</a>
                    </li>
                    <li data-menu=""><a href="form-layout-form-actions.html" data-toggle="dropdown" class="dropdown-item">Form Actions</a>
                    </li>
                    <li data-menu=""><a href="form-layout-bordered.html" data-toggle="dropdown" class="dropdown-item">Bordered</a>
                    </li>
                    <li data-menu=""><a href="form-layout-striped-rows.html" data-toggle="dropdown" class="dropdown-item">Striped Rows</a>
                    </li>
                  </ul>
                </li>
                <li data-menu=""><a href="form-wizard.html" data-toggle="dropdown" class="dropdown-item">Form Wizard<i class="icon-paste"></i></a>
                </li>
                <li data-menu=""><a href="form-repeater.html" data-toggle="dropdown" class="dropdown-item">Form Repeater<i class="icon-paste"></i></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-grid"></i><span>Tables</span></a>
          <ul class="dropdown-menu">
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Bootstrap Tables<i class="icon-table2"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="table-basic.html" data-toggle="dropdown" class="dropdown-item">Basic Tables</a>
                </li>
                <li data-menu=""><a href="table-border.html" data-toggle="dropdown" class="dropdown-item">Table Border</a>
                </li>
                <li data-menu=""><a href="table-sizing.html" data-toggle="dropdown" class="dropdown-item">Table Sizing</a>
                </li>
                <li data-menu=""><a href="table-styling.html" data-toggle="dropdown" class="dropdown-item">Table Styling</a>
                </li>
                <li data-menu=""><a href="table-components.html" data-toggle="dropdown" class="dropdown-item">Table Components</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">DataTables<i class="icon-th"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="dt-basic-initialization.html" data-toggle="dropdown" class="dropdown-item">Basic Initialisation</a>
                </li>
                <li data-menu=""><a href="dt-advanced-initialization.html" data-toggle="dropdown" class="dropdown-item">Advanced initialisation</a>
                </li>
                <li data-menu=""><a href="dt-styling.html" data-toggle="dropdown" class="dropdown-item">Styling</a>
                </li>
                <li data-menu=""><a href="dt-data-sources.html" data-toggle="dropdown" class="dropdown-item">Data Sources</a>
                </li>
                <li data-menu=""><a href="dt-api.html" data-toggle="dropdown" class="dropdown-item">API</a>
                </li>
              </ul>
            </li>
            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">DataTables Ext.<i class="icon-th-large"></i></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a href="dt-extensions-autofill.html" data-toggle="dropdown" class="dropdown-item">AutoFill</a>
                </li>
                <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Buttons</a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a href="dt-extensions-buttons-basic.html" data-toggle="dropdown" class="dropdown-item">Basic Buttons</a>
                    </li>
                    <li data-menu=""><a href="dt-extensions-buttons-html-5-data-export.html" data-toggle="dropdown" class="dropdown-item">HTML 5 Data Export</a>
                    </li>
                    <li data-menu=""><a href="dt-extensions-buttons-flash-data-export.html" data-toggle="dropdown" class="dropdown-item">Flash Data Export</a>
                    </li>
                    <li data-menu=""><a href="dt-extensions-buttons-column-visibility.html" data-toggle="dropdown" class="dropdown-item">Column Visibility</a>
                    </li>
                    <li data-menu=""><a href="dt-extensions-buttons-print.html" data-toggle="dropdown" class="dropdown-item">Print</a>
                    </li>
                    <li data-menu=""><a href="dt-extensions-buttons-api.html" data-toggle="dropdown" class="dropdown-item">API</a>
                    </li>
                  </ul>
                </li>
                <li data-menu=""><a href="dt-extensions-column-reorder.html" data-toggle="dropdown" class="dropdown-item">Column Reorder</a>
                </li>
                <li data-menu=""><a href="dt-extensions-fixed-columns.html" data-toggle="dropdown" class="dropdown-item">Fixed Columns</a>
                </li>
                <li data-menu=""><a href="dt-extensions-key-table.html" data-toggle="dropdown" class="dropdown-item">Key Table</a>
                </li>
                <li data-menu=""><a href="dt-extensions-row-reorder.html" data-toggle="dropdown" class="dropdown-item">Row Reorder</a>
                </li>
                <li data-menu=""><a href="dt-extensions-select.html" data-toggle="dropdown" class="dropdown-item">Select</a>
                </li>
                <li data-menu=""><a href="dt-extensions-fix-header.html" data-toggle="dropdown" class="dropdown-item">Fix Header</a>
                </li>
                <li data-menu=""><a href="dt-extensions-responsive.html" data-toggle="dropdown" class="dropdown-item">Responsive</a>
                </li>
                <li data-menu=""><a href="dt-extensions-column-visibility.html" data-toggle="dropdown" class="dropdown-item">Column Visibility</a>
                </li>
              </ul>
            </li>
            <li data-menu=""><a href="table-jsgrid.html" data-toggle="dropdown" class="dropdown-item">jsGrid<i class="icon-table"></i></a>
            </li>
          </ul>
        </li>
        <li data-menu="megamenu" class="dropdown mega-dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-bar-chart-2"></i><span>Charts &amp; Maps</span></a>
          <ul class="mega-dropdown-menu dropdown-menu row">
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="icon-bubble_chart"></i>Echarts</a>
                      <ul class="mega-menu-sub">
                        <li><a href="echarts-line-area-charts.html" class="dropdown-item"><i class="undefined"></i>Line &amp; Area charts</a>
                        </li>
                        <li><a href="echarts-bar-column-charts.html" class="dropdown-item"><i class="undefined"></i>Bar &amp; Column charts</a>
                        </li>
                        <li><a href="echarts-pie-doughnut-charts.html" class="dropdown-item"><i class="undefined"></i>Pie &amp; Doughnut charts</a>
                        </li>
                        <li><a href="echarts-scatter-charts.html" class="dropdown-item"><i class="undefined"></i>Scatter charts</a>
                        </li>
                        <li><a href="echarts-radar-chord-charts.html" class="dropdown-item"><i class="undefined"></i>Radar &amp; Chord charts</a>
                        </li>
                        <li><a href="echarts-funnel-gauges-charts.html" class="dropdown-item"><i class="undefined"></i>Funnel &amp; Gauges charts</a>
                        </li>
                        <li><a href="echarts-combination-charts.html" class="dropdown-item"><i class="undefined"></i>Combination charts</a>
                        </li>
                        <li><a href="echarts-advance-charts.html" class="dropdown-item"><i class="undefined"></i>Advance charts</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="icon-stats-dots"></i>Chartjs</a>
                      <ul class="mega-menu-sub">
                        <li><a href="chartjs-line-charts.html" class="dropdown-item"><i class="undefined"></i>Line charts</a>
                        </li>
                        <li><a href="chartjs-bar-charts.html" class="dropdown-item"><i class="undefined"></i>Bar charts</a>
                        </li>
                        <li><a href="chartjs-pie-doughnut-charts.html" class="dropdown-item"><i class="undefined"></i>Pie &amp; Doughnut charts</a>
                        </li>
                        <li><a href="chartjs-scatter-charts.html" class="dropdown-item"><i class="undefined"></i>Scatter charts</a>
                        </li>
                        <li><a href="chartjs-polar-radar-charts.html" class="dropdown-item"><i class="undefined"></i>Polar &amp; Radar charts</a>
                        </li>
                        <li><a href="chartjs-advance-charts.html" class="dropdown-item"><i class="undefined"></i>Advance charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="morris-charts.html" class="dropdown-item"><i class="icon-graphic_eq"></i>Morris Charts</a>
                    </li>
                    <li><a href="#" class="dropdown-item"><i class="icon-pie-graph2"></i>Flot Charts</a>
                      <ul class="mega-menu-sub">
                        <li><a href="flot-line-charts.html" class="dropdown-item"><i class="undefined"></i>Line charts</a>
                        </li>
                        <li><a href="flot-bar-charts.html" class="dropdown-item"><i class="undefined"></i>Bar charts</a>
                        </li>
                        <li><a href="flot-pie-charts.html" class="dropdown-item"><i class="undefined"></i>Pie charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="icon-stats-bars"></i>Chartist</a>
                      <ul class="mega-menu-sub">
                        <li><a href="chartist-line-charts.html" class="dropdown-item"><i class="undefined"></i>Line charts</a>
                        </li>
                        <li><a href="chartist-bar-charts.html" class="dropdown-item"><i class="undefined"></i>Bar charts</a>
                        </li>
                        <li><a href="chartist-pie-charts.html" class="dropdown-item"><i class="undefined"></i>Pie charts</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-mega-col="col-md-3" class="col-md-3">
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a href="#" class="dropdown-item"><i class="undefined"></i>Maps</a>
                      <ul class="mega-menu-sub">
                        <li><a href="#" class="dropdown-item"><i class="undefined"></i>google Maps</a>
                          <ul class="mega-menu-sub">
                            <li><a href="gmaps-basic-maps.html" class="dropdown-item"><i class="undefined"></i>Maps</a>
                            </li>
                            <li><a href="gmaps-services.html" class="dropdown-item"><i class="undefined"></i>Services</a>
                            </li>
                            <li><a href="gmaps-overlays.html" class="dropdown-item"><i class="undefined"></i>Overlays</a>
                            </li>
                            <li><a href="gmaps-routes.html" class="dropdown-item"><i class="undefined"></i>Routes</a>
                            </li>
                            <li><a href="gmaps-utils.html" class="dropdown-item"><i class="undefined"></i>Utils</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="vector-maps-jvector.html" class="dropdown-item"><i class="undefined"></i>jVector Map</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /horizontal menu content-->
  </div>
  <!-- Horizontal navigation-->